.ourteam{
    width: 800px;
    height: 800px;
    padding-bottom: 150px;
    img{
        padding-top:20px;
        width: 900px;
        height: 450;
    }
    h2{
       
        color: white;
        margin: 15px;

       
    }
    h1{
        padding: 20px;
    }
}